/* Reset CSS */
body,
ul {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

/* Load some fonts (http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/) */
@font-face {
	font-family: 'MuseoSans-300';
	src: url('font/MuseoSans-300.eot?') format('eot'),
		 url('font/MuseoSans-300.woff') format('woff'),
		 url('font/MuseoSans-300.ttf') format('truetype');
}

/* Prince du marais */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	position: relative; /* to have the same offsetParent in Firefox and IE */
}

body {
	font-family: MuseoSans-300, arial;
	font-size: 100%;
	color: #472200;
}

#nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: white;
	opacity: .9;
}

#nav ul {
	display: inline-block;
	line-height: 40px;
	font-size: .8em;
}

#logo-nav {
	display: block;
	height: 100%;
	width: 20px;
	background: transparent url(images/logo-nav.png) no-repeat 0 center;
}

#nav li {
	float: left;
	display: inline;
}

#nav a {
	margin-left: 1.5em;
	color: #472200;
}

#brand {
	text-align: center;
	margin: 4em 0;
}

#brand h1 {
	font-size: 1.25em;
	letter-spacing: 2px;
}

#brand-claim {
	color: #aaa;
	font-size: .5em;
	letter-spacing: 2px;
}

div.section {
	padding: 0 2em;
}

div.section > div {
	width: 33.3%;
	float: left;
	text-align: center;
}

h2 {
	color: #e5e5e5;
	border-bottom: 1px dashed #e5e5e5;
	margin: 2em 0;
}

p {
	margin: 2em auto;
}

img.product-img {
	height: 300px;
}

#french-design {
	height: 650px;
	background-image: url(images/french-design-600.png?v=0);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom center;
}

#french-design p {
	text-align: center;
}
