/* Reset CSS */
body,
ul {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

/* Load some fonts (http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/) */
@font-face {
	font-family: 'MuseoSans-300';
	src: url('font/MuseoSans-300.eot?') format('eot'),
		 url('font/MuseoSans-300.woff') format('woff'),
		 url('font/MuseoSans-300.ttf') format('truetype');
}

/* Prince du marais */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	position: relative; /* to have the same offsetParent in Firefox and IE */
}

body {
	font-family: MuseoSans-300, arial;
	font-size: 100%;
	color: #534027;
}

#nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	text-align: left;
}

#nav ul {
	display: inline-block;
	line-height: 40px;
	font-size: .8em;
}

#logo-nav {
	display: block;
	height: 100%;
	width: 20px;
	background: transparent url(images/logo-nav.png) no-repeat 0 center;
}

#nav li {
	float: left;
	display: inline;
}

#nav a {
	margin-left: 1.5em;
	color: #472200;
}

div.brand {
	text-align: center;
	margin: 4em 0;
}

div.brand .brand-name {
	font-size: 1.25em;
	letter-spacing: 2px;
}

#brand-claim {
	color: #aaa;
	font-size: .5em;
	letter-spacing: 2px;
}


h2 {
	color: #e5e5e5;
	margin: 2em 0;
	text-align: center;
	letter-spacing: 1px;
}

p {
	margin: 2em auto;
}

#purist {
	height: 500px;
	padding: 0 2em;
}

#purist div {
	height: 100%;
	width: 33.3%;
	float: left;
	text-align: center;
}

#purist {
	background: transparent url(images/body-silk.jpg?v=0) left 0 no-repeat;
}

#bady-silk-drawing {
	background: transparent url(images/silkbaby.png?v=0) center center no-repeat;
}

#purist p,
#blanket p {
	padding-top: 150px;
	font-size: 1.25em;
	text-align: center;
	line-height: 2em;
	letter-spacing: 1px;
}

#blanket div {
	float: right;
	margin-right: 2em;
	text-align: center;
}

#blanket {
	width: 100%;
	height: 800px;
	background-image: url(images/blue-blanket.jpg?v=0);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#our-story p {
	width: 25em;
	letter-spacing: 1px;
	text-align: justify;
}

#copyright {
	margin-top: 10em;
	text-align: center;
}
