/* Reset CSS */
body {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

/* Load some fonts (http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/) */
@font-face {
	/* TODO: add eof and woff format ? */
	font-family: 'commersial_script';
	src: url("font/commersial_script.ttf");
}


@font-face {
	font-family: 'MuseoSans-300';
	src: url('font/MuseoSans-300.eot?') format('eot'),
		 url('font/MuseoSans-300.woff') format('woff'),
		 url('font/MuseoSans-300.ttf') format('truetype');
}

/* Prince du marais */
body {
	font-family: MuseoSans-300, arial;
	font-size: 100%;
	line-height: 1.5;
	text-align: center;
}

#logo {
	margin-top: 7em;
	height: 200px;
}

h1 {
	font-size: 1.25em;
	color: #9999ff;
	margin: 1em 0;
	letter-spacing: 1px;
}

h2 {
	font-family: commersial_script, MuseoSans-300, arial;
	margin-top: 2em;
	color: #472200;
	font-size: 3em;
	font-weight: normal;
}

p {
	max-width: 30em;
	color: #9999ff;
	margin: 2em auto;
	letter-spacing: 1px;
}

div.section {
	padding: 1em 0;
	min-height: 100%;
}

#nav {
	text-align: left;
	width: 100%;
	position: fixed;
	background-color: #9999ff;
	opacity: .75;
}

#nav a {
	float: left;
	line-height: 3em;
	margin-left: 1em;
	color: white;
	font-size: 70%;
	vertical-align: middle;
}

#organic-silk {
	background-color: #9999ff;
}

#organic-silk p,
#organic-silk h2,
#virgin-wool p,
#virgin-wool h2 {
	color: white;
}

/* backgrounds images */
#virgin-wool {
	background-image: url(images/wool-600.png?v=0);
}

#organic {
	background-image: url(images/woolwhite.jpg?v=0);
}

#organic,
#virgin-wool {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#french-design {
	background-image: url(images/french-design-600.png?v=0);
	background-repeat: no-repeat;
	background-position: center bottom;
}