<h1>CHIC & ORGANIC BABYWEAR</h1>

<p>
    PRINCE DU MARAIS, “Prince of the Marsh” in French, creates chic and organic garments for babies.  We are based in the Loire Valley in France.  Our emblem is the frog prince meets the royal fleur-de-lys, which embodies the spirit of our brand: natural and organic from the chic Loire Valley in France.
</p>
<img src="static/images/pdmsilk.jpg" />

<h1>SUSTAINABLE FASHION FOR BABIES</h1>

<p>
    We create baby clothing and swaddles using 100% organic silk, a unique and luxurious fabric for the delicate baby skin.  We also design baby home accessories using organic cotton velours and organic virgin wool from Pantagonia.  By using the best organic fabrics available, we make sure that we are part of the global initiative to produce garments with environmentally sound and socially responsible methods.
</p>
<img src="static/images/pdmnatural.jpg" />

 <h1>CHIC & TIMELESS DESIGNS</h1>

<p>
    In respect of the natural beauty of the fabrics and as a token of our love for simplicity, we keep our designs pure and timeless.  Our garments are developed in-house from pattern-making to sampling to the finishing touches.  We believe that comfort and style should co-exist. A PRINCE DU MARAIS creation is for the truly discerning.
</p>
<p>
    From the tiny ones to the young at heart, we would like to invite you to become part of our story, experience Chic, Organic, and Exquisite.
</p>
<img src="static/images/pdmchic.jpg" />
