<h2>LEGAL</h2>
<p>
    Publisher<br>
    The Internet Website www.princedumarais.com is published by<br>
    PRINCE DU MARAIS<br>
    Registered Office: 8 rue de la Prefecture, 37000 Tours, France<br>
    SIRET: 799706403<br>
    Intracommunautary VAT Number: FR 799706403
</p>

<p> Editorial and Contents: Melody Hirbec
</p>

<p> This website is registered with the French Internet authority CNIL (Commission Nationale de
    l'Informatique et des Libertés) under Reference No. XXXXXX v O on datexxxxxxx.
</p>

<p> For any questions or comments please contact us via email at info@princedumarais.com
</p>
