<h1>SILK</h1>

<p><center><i>
    "What is the best fabric for delicate baby skin?"</center></i>
</p>

<p>
    This is the question that launched the journey of Prince du Marais.  And we think we found the answer after months and months of research.  And that's why we created the baby intimate line "Le Puriste" using 100% organic peace silk jersey.
</p>

<h2>A Bit of History</h2>

<p>Silk is a natural protein fiber obtained from the cocoons of silkworm larvae.  The most common type is mulberry silk extracted from cocoons of Bombyx Mori silkworm larvae reared in captivity.  It is first discovered in China around 3000 BC, and the fabrication secrets were well-guarded for millennia, and silk was the prized commodity carried into Europe through the Silk Road.  It was not until after the 10th century that the secrets of fabrication was brought to Europe, first in Sicily, and then developed in Lyon and Tours in France starting from the 12th century.
</p>

<h2>The Benefits of Silk</h2>

<p>There are numerous benefits of silk:
</p>

<p>Resistance:    a single silk filament can measure up to 1 kilometer with a diameter of around 40 microns.  Its resistance in relationship to its fineness is phenomenal, with the same cross section, silk's tencile strength is identical to a steel thread.</p>

 <h2>Organic Silk</h2>

<p>silk ...
</p>


<h2>Eco-Friendly Peace Silk</h2>

<p>silk ...
</p>

<h2>Taking Care of Silk Products</h2>

<p>The silk jersey knits used in Prince du Marais' products are easy to wash, contrary to popular belief that silk is high-maintenance.  You can hand-wash the silk products simply with a bit of shampoo, or machine wash using the "wool/silk" gentle cycle with special wool/silk detergents.  We do not recommend dry-cleaning because of the chemical solvents involved.
</p>
