<h1>STORY</h1>

<h3>"Do something good for the world."</h3>

<p>
    My last year in university.  In a Contemporary Dance class.  Feeling uncertain about the future, I casually asked my fellow dancer, Lauren, what I should do after graduation.  She answered, with equal insouciance, "Do something good for the world."  All these years later, those nonchalant words stay:qed with me.
</p>
<p>
    We know what we want.  Clean water, clean air, and a natural environment.  Sounds like such basic requirements, but it's increasingly difficult to find in our modern world.

<img src="static/images/babyfoot.jpg" />

    From the tiny ones to the young at heart, we would like to invite you to become part of our story, experience Organic and Exquisite.
</p>

<p>
    - Founder & Creative Director, Melody Hirbec
</p>
