
<p>

Payment and Taxes

Payments are processed through Stripe - securelyaccepting most major credit and debit cards from around the world.

Please note that local charges may occur, depending on your region and local customs duties. These charges are at the customers own expense.

Personal Information

By placing an order, you agree to have your name and email address placed on the Prince du Marais mailing list.  Your shipping address will be kept on file to facilitate the shipping process on future orders.
No personal information of any other kind is collected or retained by Prince du Marais and no information is shared or sold to third parties.
</p>
