<h2>WHOLESALE</h2>
<p>Prince du Marais cooperates with partners that share the same values and who are passionate about our brand and products.   Contact us if you are interested in becoming a Prince du Marais retailer.  We look forward to talking to you soon.
</p>

<h2>BESPOKE PARTNERSHIP</h2>
<p>As retailers, you know your clients the best.  Let's work together to create a unique version of our existing designs or create a special partnership with completely new designs for your shop.  Talk to us for details.
</p>
